{% extends "kpi/base.html" %}

{% block content %}

<div>
    <h1 class="centerh" style="margin-bottom:40px">Отделы</h1>
    <div class="mainpage">
        
        <div class="row department">
            {% for department in departments  %}
            <div class="col-6 col-md-3">
            
                <a 
                class="department-item"
                href="{% url 'linkpage' department.slug %}"
                style="
                background-color: {% if  department.back_color %} {{ department.back_color }} !important {% endif %};
                color:{% if  department.text_color and department.back_color %} {{ department.text_color }} !important {% endif %}">
                {{ department.title }}

                
            </a>  
        
            </div>
            
            {% endfor %}
        </div>
        
        
    </div>
    
</div>

{% endblock %}

